.basicSearch {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    background: #eee;
    border-radius: 10px;

    .search {
        padding: 10px;
        font-size: 20px;
    }

    .list {
        padding: 0;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    .listItem {
        padding: 5px;
        font-size: 25px;
        color: #444;
        font-weight: 300;
        border-radius: 5px;
    }

    .listItem:nth-child(odd) {
        background-color: #ccc;
    }
}